<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Jobs Lists</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <div id="wrapper">
    <div id="header">
        <h1><a href="/">Jobs Lists</a></h1>
        <div class="right">
          <div class="member">
            <% if logged_in? %>
              <div class="logout">
                <a class="btn_dashboard" href="/users/dashboard">
                  <img src="/images/dashboard.png" width="25" height="25" alt="submit" />
                </a>
                <span>welcome back <%= current_user.email%></span>
                <form action="/users/logout_session" method="post" class="logout_form">
                  <input type="hidden" name="_method" value="delete">
                  <button class="btn_logout">
                  <img src="/images/logout.png" width="25" height="25" alt="submit" />
                  </button>
                </form>
              </div>
              <% else %>          
                <a href="/users/sign_up">Sign up</a> | 
                <a href="/users/login">Login</a>
            <%end%>
          </div>
          <form id="search-form" class="search" action="/jobs">
            <input type="text" name="keyword" id="keyword" value="" title="Search" class="text">
            <input type="submit" name="commit" value="Search" disable_with="Submiting..." class="search-submit">
          </form>
        </div>
    </div>
    <div id="container">
      <div id="container-inner">
        <% flash.keys.each do |type| %>
          <div data-alert class="flash <%= type %> alert-box radius">
            <%= flash[type] %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>  
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>