<h2 class="pagetitle">Login</h2>
<div class="form">

  <form class="new_user" id="new_user" action="/users/login_session" method="post">
    <div class="field">
      <label for="user_email">Email</label>
      <input class="text" type="text" value="" name="email" id="user_email">
    </div>

    <div class="field">
      <label for="user_password">Password</label>
      <input class="text" type="password" name="password" id="user_password">
    </div>

    <div class="field">
      <input type="submit" name="commit" value="Login" class="submit">
    </div>

  </form>
  <p class="problem">
    <a class="forgot" href="/users/password/new">Forgot your password?</a>
  </p>
</div>