html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  background: #f1f0e8;
  margin: 0px;
  font-family: Geneva, "Helvetica Neue", Helvetica, Arial, "Apple LiGothic", "Microsoft JhengHei", sans-serif;
  color: #000;
  line-height: 1
}

#wrapper {
  margin: 0 auto;
  width: 960px;
}

#header {
  margin: 30px 0 25px;
  position: relative;
  height: 96px;
}
#header h1 {
  display: inline;
}
#header a {
  color: #000;
}
a:link, a:visited {
  text-decoration: none;
}
#header .right {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
}
#header .search {
  position: relative;
  display: inline-block;
}
#header .member {
  margin-bottom: 20px;
  color: #696969;
}
#header .text {
  padding: 6px 5px 0 5px;
  width: 230px;
  height: 22px;
  font-size: 100%;
}
#header .search-submit {
  background: url(/images/search_button_green.png) no-repeat;
  width: 30px;
  height: 28px;
  border: 0;
  position: absolute;
  right: 0;
  top: 2px;
  text-indent: -9999em;
  cursor: pointer;
}
#container {
  background: #fdfefe url(/images/paper-edge.png) right top repeat-y;
  margin-bottom: 40px;
}
#container-inner {
  background: url(/images/paper-crease.png) right bottom no-repeat;
  padding: 20px 20px 63px;
  position: relative;
}
.joblist {
  width: 100%;
}
table {
  font-size: inherit;
  font: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.joblist th, td{
border: 0;
border-bottom: 1px solid #e6ebec;
padding: 1em 0.5em;
}
.joblist th{
border-bottom: 3px solid #d2d8d9;
padding-bottom: 0.7em;
font-size: 116%;
text-align: left;
}
td a{
  text-decoration: none;
}

#container .pagetitle {
  border-bottom: 1px solid #e6ebec;
  margin: 1em 0 1.4em;
  padding-bottom: 0.6em;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 182%;
}
.form {
  position: relative;
}
.form .field {
  padding: 0 0 20px 170px;
  position: relative;
}
.form label {
    width: 150px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 6px;
    font-size: 13px;
}
.form input.text {
  width: 280px;
}
.text {
  background: #fff;
  border: 1px solid #ddd;
  border-top: 1px solid #888;
  padding: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
input {
  font: 99% arial, helvetica, clean, sans-serif;
}
.problem {
  position: absolute;
  right: 0;
  top: 0;
}
.problem a {
  display: block;
  margin-bottom: 1em;
  padding-left: 28px;
  color: #969696;
}
a:link, a:visited {
  color: #b40e12;
  text-decoration: none;
}

#container .submit {
  padding: 4px 25px;
  font-size: 123.1%;
  font-weight: bold;
  border-radius: 15px;
  background-image: url(/images/bg-button.png);
  background-repeat: repeat-x;
}